*{
 margin:0;
 padding:0;
 font-family:'Poppins', sans-serif;
 box-sizing:border-box;   
}
html{
    scroll-behavior: smooth;
}
body{
    background:black;
    color:#fff;
}
#header{
    width:100%;
    height:100vh;
    background-image:url(images/background.png);
    background-size:cover;
    background-position:center;
}
.container{
    padding:10px 10%;
}
nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap:wrap;
}
.logo{
    width:140px;
}
nav ul li{
    display:inline-block;
    list-style:none;
    margin:10px 20px;
}
nav ul li a{
    color:#fff;
    text-decoration:none;
    font-size:18px;
    position: relative;
}
nav ul li a::after{
    content:'';
    width:0;
    height:3px;
    background:#c300ff;
    position:absolute;
    left:0;
    bottom:-6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width:100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    margin-top: 20px;
    font-size: 60px;
}
.header-text h1 span{
    color:#c300ff;
}
#about{
    padding:80px 0;
    color:#ababab;
}
.row{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}
.about-col-1{
    flex-basis:35%;
}
.about-co1-1 img{
    
    width: 150px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px;
}
.about-col-2{
    color:white;
    left:50%;
    height:100%;
}

.sub-title{
    font-size:60px;
    font-weight:600;
    color:white;
}
.tab-titles{
    display:flex;
    margin:20px 0 40px;
    color:white;
}
.tab-links{
    margin-right:50px;
    font-size:18px;
    font-weight:500;
    cursor:pointer;
    position:relative;
}
.tab-links::after{
    content:'';
    width:0;
    height:3px;
    background:#c300ff;
    position:absolute;
    left:0;
    bottom:-6px;
    transition:0.5s;
}
.tab-links.active-link::after{
    width:50%;
}
.tab-contents ul li{
    list-style:none;
    margin:10px 0;
}
.tabs-content ul li span{
    color:#c300ff;
    font-size:14px;
}
.tab-contents{
    display:none;
}
.tab-contents.active-tab{
    display:block;
}
/*--------------------Services----------------*/
#services{
    padding:30px 0;

}
.services-list{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;
    border-radius: 10px;
}
.services-list div{
    background:#262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s,transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight:500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration:none;
    color:#fff;
    font-size:12px;
    margin-top:20px;
    display:inline-block;
}
.services-list div:hover{
    background:#c300ff;
    transform:translateY(-10px);

}
.imagess img{
    height:70%;
    position:absolute;
    left:80%;
    bottom:0;
    transform: translateX(-80%);
    transition:bottom 5s, left 8s;

}
.imagess {
    height:70%;
    position:absolute;
    left:80%;
    bottom:0;
    transform: translateX(-80%);
    transition:bottom 5s, left 8s;

}
.imagess:hover .shape{
    bottom: 40px;
}
.imagess:hover .girl{
    left:78%;

}
/*-------------------before-----------------------*/
/*--
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background:black;
}
#new{
    height: 150px;
    
}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display:inline-block;
    list-style:none;
    margin:10px 20px;

}
nav ul li a{
    text-decoration: none;
    color:white;
    font-weight:bold;
}

nav ul li a:hover{
    color:#ff004f;
    transform: translateY(-5px);
    transition: transform 0.5s;
}

.detel{
    margin-left:8%;
    margin-top:13%;
}

.detel h1{
    font-size:50px;
    color:skyblue;
    margin-bottom:20px;
}
span{
    color:orange;
}
.detel p{
    color:white;
    line-height:22px;
}
.detel a{
    background:black;
    padding:10px 18px;
    text-decoration: none;
    font-weight:bold;
    color:#fff;
    display:inline-block;
    margin:30px 0;
    border-radius:5px;
}
.imagess{
    width: 100%;
    height:100%;
    position:absolute;
    bottom:0;
    right:10px;
}
.imagess img{
    height:70%;
    position:absolute;
    left:80%;
    bottom:0;
    transform: translateX(-80%);
    transition:bottom 5s, left 8s;

}
.imagess:hover .shape{
    bottom: 40px;
}
.imagess:hover .girl{
    left:15%;

}--------------------------------*/
/*-----portfolio------*/
.portfolio{
    padding: 50px 0;
}
.work-list{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;

}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition:transform 0.5s;

}
.layer{
    width:100%;
    height:0;
    background:linear-gradient(rgba(0,0,0,0.6),#c300ff);
    border-radius:10px;
    position:absolute;
    left:0;
    bottom:0;
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    padding:0 40px;
    text-align:center;
    font-size:14px;
    transition:height 0.5s;

}
.layer h3{
    font-weight:500;
    margin-bottom:20px;
}
.layer a{
    margin-top: 20px;
    color:#c300ff;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background:#fff;
    width:60px;
    height:60px;
    border-radius:50%;
    text-align:center;
}
.work:hover img{
    transform:scale(1.1);
}
.work:hover .layer{
    height:100%;
}
.btn{
    display:block;
    margin:50px auto;
    width:fit-content;
    border:1px solid #c300ff;
    padding:14px 50px;
    border-radius: 6px;
    text-decoration:none;
    color:#fff;
    transition: background 0.5s;
}
.btn:hover{
    background:#c300ff;

}
/*-----------------Contact------------------*/
.contact-left{
    flex-basis:35%;

}
.contact-right{
    flex-basis:60%;
}
.contact-left p{
    margin-top:30px;

}
.contact-left p i .fa-solid{
    color:#00ffae;
    margin-right:15px;
    font-size: 25px;

}

.contact-left p i fa{
    color:#0099ff;
    margin-right:15px;
    font-size: 25px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color:#ababab;
    display: inline-block;
    transition: transform 0.5s;

}
.fa{
    color:#0099ff
}
.fa-solid{
    color:#00ffae
}
.social-icons .hi:hover{
    color:#E4405F;
    transform: translateY(-5px);
}
.social-icons .ha:hover{
    color:#008cff;
    transform: translateY(-5px);
}
.social-icons .he:hover{
    color:#00ff88;
    transform: translateY(-5px);
}
.btn.btn2{
    display:inline-block ;
    background: #c300ff;

}
.contact-right form{
    width:100%;
}
form input, form textarea{
    width:100%;
    border:0;
    outline:none;
    background: #262626;
    padding:15px;
    margin: 15px 0;
    color:#fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding:14px 60px;
    font-size:18px;
    margin-top: 20px;
    cursor:pointer;
}
copyright i{
    color: #c300ff;
    }
    nav .fa{
        display: none;
        
    }
    /*--css for small screens -- */
    
    @media only screen and (max-width: 600px){
    #header {
    background-image: url(images/phone-background.png);
    }
    .header-text{
        margin-top: 100%;
        font-size:16px;
    }
        .header-text h1{
        font-size: 30px;
        }
        nav .fa{
            display: block;
            font-size: 25px;
        }
        nav ul{
            background: #c300ff;
            position: fixed;
            top: 0;
            right:-200px;
            width:200px;
            height:100vh;
            padding-top:50px;
            z-index:2;
            transition:0.5s;
        }
        nav ul li{
            display: block;
            margin: 25px;

        }
        nav ul .fa{
            position: absolute;
            top:25px;
            left:25px;
            cursor:pointer;
        }
        .sub-title{
            font-size: 40px;
        }
        .about-col-1, .about-col-2{
            flex-basis: 100%;
        }
        .about-col-1{
            margin-bottom: 30px;
        }
        .about-col-2{
            font-size: 14px;
            color:white;
        }
        .tab-links{
            font-size: 16px;
            margin-right: 20px;
        }
        .contact-left, .contact-right{
            flex-basis: 100%;
        }
        .copyright{
            font-size: 14px;
        }
    }
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}
.text {
    font-size: 20px;
    padding-left: 20px;
  }
  .text-left{
    flex-basis: 35%;
}
.text-left p{
margin: 0;
}